<div class="about-container">

  <!-- HERO -->

  <div class="about-hero">

    <div class="hero-overlay"></div>

    <div class="hero-content">

      <h1>🍽️ À propos de nous</h1>

      <p>
        Une expérience culinaire unique au cœur de Ouagadougou
      </p>

    </div>

  </div>

  <!-- INTRO -->

  <section class="intro-section">

    <h2>Bienvenue chez Délice Restaurant</h2>

    <p>
      Depuis plusieurs années, nous proposons des plats savoureux inspirés
      de la cuisine africaine et internationale.
      Notre objectif est de créer une expérience chaleureuse et inoubliable
      pour chaque client.
    </p>

  </section>

  <!-- FUN CARDS -->

  <section class="fun-cards">

    <div class="fun-card">

     <lucide-angular
  [img]="ChefHat"
  class="modern-icon">
</lucide-angular>

      <h3>15+</h3>

      <p>Années d'expérience</p>

    </div>

    <div class="fun-card">

     <lucide-angular
  [img]="Flame"
  class="modern-icon">
</lucide-angular>

      <h3>50+</h3>

      <p>Spécialités culinaires</p>

    </div>

    <div class="fun-card">

      <lucide-angular
  [img]="Star"
  class="modern-icon">
</lucide-angular>

      <h3>100%</h3>

      <p>Clients satisfaits</p>

    </div>

  </section>

  <!-- SPECIALITES -->

  

  <!-- CONTACT -->

  <section class="contact-section">

    <div class="contact-card">


      <p>📍 Ouagadougou, Burkina Faso</p>

      <p>📞 +226 70 00 00 00</p>

      <p>✉️ contact@delicerestaurant.com</p>

      <p>🕒 Ouvert tous les jours : 10h - 23h</p>

    </div>

  </section>

</div>